/* * {
  border: 1px dotted gray;
} */

.font-size-35px {
  font-size: 35px;
}
.font-size-20px {
  font-size: 20px;
}
.display-flex-column {
  display: flex;
  flex-direction: column;
}
.display-flex-row {
  display: flex;
  flex-direction: row;
}
.main-title {
  padding: 3%;
  min-width: 30%;
}
.main-menu {
  justify-content: space-around;
}
.background-color-main {
  background-color: rgb(250, 250, 250);
  border: rgb(250, 250, 250);
  margin: rgb(250, 250, 250);
}
.display-flex-items-end {
  display: flex;
  justify-content: end;
}
.padding_top {
  padding: 10%;
}
.padding-address {
  padding: 2%;
}
.deco-none {
  text-decoration: none;
}
